.App a {
  color: black;
  text-decoration: underline;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

body .sans-serif {
  font-family: "Inter" !important;
}

body .serif {
  font-family: "Lora" !important;
}

body .mono {
  font-family: "Inconsolata" !important;
}

body .dark-mode {
  background-color: #050505 !important;
  color: white !important;

  a {
    color: white !important;
  }
}

.container--main {
  min-height: 100vh;
}

.word__header--small {
  color: #757575;
}

@media screen and (min-width: 992px) {
  .container--main {
    width: 60% !important;
  }
}
