@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/lora/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
